@page "/"
@using MongoDB.Bson
@using MongoDB.Bson.Serialization.Conventions
@using MongoDB.Driver
@using MongoDB.Driver.Linq
@using System.IO;
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using CompteEstBon

@* ReSharper disable  UnknownCssClass *@
@* ReSharper disable CoercedEqualsUsing *@

@inject IJSRuntime js
@inject CebSetting setting
@inject CebTirage tirage

<div class="card text-center border-secondary">
	<div class="card-header bg-primary bg-gradient border-secondary">
		<div class="row">
			<div class="col-1 text-start">
				<img src="favicon.ico" height="20">
			</div>
			<div class="col text-center text-uppercase text-danger font-weight-bold text-wrap text-truncate ">Syncfusion - Compte&nbsp;est&nbsp;bon</div>
			<div class="col-1 text-end">
				<button id="idVue2"
						class="btn btn-primary"
						title="Mode de vue"
						role="button"
						@onclick="() => IsTableau = !IsTableau"
						type="button">
					<i class="fa-solid fa-ellipsis@(IsTableau ? "":"-vertical") fa-2x"></i>
				</button>
			</div>
		</div>
	</div>
</div>
<div class="row ">
	<div class="col text-center">
		<div class="card text-center border-secondary">
			<div class="card-header bg-primary bg-gradient text-white">
				<i class="fa-solid fa-bars"></i>
				&nbsp;Plaques
			</div>
			<div class="card-body">
				<div class="row">
					@foreach (var plq in tirage.Plaques) {
						<div class="col-md-2">
							<SfComboBox TItem="int"
									TValue="int"
									@bind-Value="plq.Value"
									DataSource="@ListePlaques"
									ShowClearButton="false"
									AllowFiltering="true"
									Enabled="tirage.Status != CebStatus.EnCours">
							</SfComboBox>
						</div>
					}
				</div>

			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="card text-center border border-secondary">
			<div class="card-header bg-primary bg-gradient text-white">
				<i class="fa-solid fa-search-plus"></i>
				&nbsp;Trouver
			</div>
			<div class="card-body">
				<SfNumericTextBox @bind-Value="tirage.Search"
								  Max="999"
								  Min="100"
								  CssClass="e-ceb"
								  Format="N0"
								  Step="1"
								  TValue="int"
								  Enabled="tirage.Status != CebStatus.EnCours">
				</SfNumericTextBox>
			</div>
		</div>
	</div>
	<div class="col-md-3  bg-transparent">
		<div class="card bg-transparent border-secondary">
			<div class="card-header btn-group w-100" role="group" aria-label="resolve">
				@switch (tirage.Status) {
					case CebStatus.EnCours:
						<button class="btn btn-info">
							<i class="fa-solid fa-rotate fa-pulse"></i>
							<span class="animation">Patientez&hellip;</span>
						</button>
						break;
					case CebStatus.CompteEstBon:
						<button class="btn btn-success"
						@onclick="@tirage.ClearAsync"
						title="Initialisation des résultats (ALT-I)"
						role="button"
						type="button"
						accesskey="i">
							<i class="fa-regular fa-thumbs-up"></i>
							<span class="animation">Compte&nbsp;est&nbsp;bon</span>
						</button>
						break;
					case CebStatus.CompteApproche:
						<button class="btn btn-secondary text-wheat"
						role="button"
						type="button"
						title="Initialisation des résultats (ALT-I)"
						@onclick="tirage.ClearAsync"
						accesskey="i">
							<i class="fa-regular fa-thumbs-down"></i>
							<span class="animation">Compte&nbsp;approch&eacute;</span>
						</button>
						break;
					case CebStatus.Invalide:
						<button class="btn btn-danger"
						role="button"
						type="button"
						title="Tirage aléatoire (ALT-T)"
						@onclick="tirage.RandomAsync"
						accesskey="T">
							<i class="fa-solid fa-circle-exclamation fa-beat"></i>
							<span class="animation">Invalide</span>
						</button>
						break;
					default:
						<button id="resoudre"
						title="Résolution du tirage (ALT-V)"
						class="btn btn-primary"
						role="button"
						@onclick="ResolveAsync"
						type="button"
						accesskey="V">
							<i class="fa-solid fa-bolt-lightning"></i>
							<span>R&eacute;soudre</span>
						</button>
						break;
				}
			</div>
			<div class="card-header btn-group w-100" role="group" aria-label="Action">
				<button id="hasard"
						class="btn btn-primary w-50 @(tirage.Status == CebStatus.EnCours ? "disabled" : "")"
						accesskey="t"
						title="Tirage aléatoire (ALT-T)"
						role="button"
						type="button"
						@onclick="tirage.RandomAsync">
					<i class="fa-solid fa-shuffle"></i>
					<span>Tirage</span>
				</button>
				<button id="Excel"
						title="Export vers excel (ALT-X)"
						class="btn btn-primary @(tirage.Status is CebStatus.CompteApproche or CebStatus.CompteEstBon  ? "" :"d-none")"
						role="button"
						@onclick="@ExportExcelAsync"
						type="button"
						accesskey="x">
					<i class="fa-solid fa-file-excel"></i>
					<span>Excel</span>
				</button>
				<button id="Word"
						title="Export vers Word (ALT-X)"
						class="btn btn-primary @(tirage.Status is CebStatus.CompteApproche or CebStatus.CompteEstBon  ? "" :"d-none")"
						role="button"
						@onclick="@ExportWordAsync"
						type="button"
						accesskey="w">
					<i class="fa-solid fa-file-word"></i>
					<span>Word</span>
				</button>
			</div>
		</div>
	</div>
</div>
<CebSolutions @ref="Solutions" IsTableau="IsTableau"
			  ShowDetail="ShowSolutionAsync">
</CebSolutions>
<div class="card text-center bg-primary bg-gradient border-secondary">
	<div class="card-header">
		<div class="'text-center'">
			@switch (tirage.Status) {
				case CebStatus.EnCours:
					<div class="bg-info" role="alert">
						<i class="fa-solid fa-rotate fa-pulse"></i>&nbsp;Patientez, calcul en cours&hellip;
					</div>
					break;
				case CebStatus.Invalide:
					<div class="bg-danger" style="cursor: pointer;" @onclick="@tirage.RandomAsync">
						<i class="fa-solid fa-circle-exclamation fa-beat"></i>&nbsp;Tirage invalide
					</div>
					break;
				case CebStatus.CompteApproche:
					<div class="bg-secondary text-wheat" style="cursor: pointer;" @onclick="tirage.ClearAsync">
						<i class="fa-regular fa-thumbs-down"></i>&nbsp;
						&nbsp;Compte approch&eacute;:&nbsp;@tirage.Found,&nbsp;&eacute;cart:&nbsp;@tirage.Diff,&nbsp;@tirage.Count&nbsp;solutions,&nbsp;durée:&nbsp;@($"{tirage.Duree:N3}")&nbsp;s
					</div>
					break;
				case CebStatus.CompteEstBon:
					<div class="bg-success text-black" style="cursor: pointer;" @onclick="@tirage.ClearAsync">
						<i class="fa-regular fa-thumbs-up"></i>
						&nbsp;Compte est bon,&nbsp;@(tirage.Count)&nbsp;solutions,&nbsp;durée:&nbsp;@($"{tirage.Duree:N3}")&nbsp;s

					</div>
					break;
				default:
					<div>&nbsp;</div>
					break;
			}
		</div>
	</div>
</div>
<div class="card text-center bg-primary bg-gradient border-secondary">
	<div class="row card-header">
		<div class="col">
			<SfCheckBox @bind-Checked="Auto" Label="Calculer automatiquement" />
		</div>
		<div class="col">
			<SfCheckBox @bind-Checked="MongoDb" Label="Sauvegarder sous MongoDB" />
		</div>
		<div class="col text-white">
			<button id="idVue"
					class="btn btn-primary"
					role="button"
					@onclick="() => IsTableau = !IsTableau"
					type="button">
				<i class="fa-solid fa-ellipsis@(IsTableau ? "":"-vertical") fa-2x"></i>
			</button>&nbsp;mode de vue

		</div>
	</div>
</div>
<CebToast @ref="toast" DueTime="10000"></CebToast>
<CebFooter></CebFooter>

@code {

	public bool IsTableau { get; set; } = true;

	private bool _auto;
	bool Auto {
		get => _auto;
		set {
			if (_auto == value) return;
			_auto = value;

			if (_auto && tirage.Status == CebStatus.Valide) {
				Task.Run(async () => {
					await tirage.ClearAsync();
					await InvokeAsync(StateHasChanged);
				});
			}
		}
	}
	bool MongoDb { get; set; }
#pragma warning disable CS8618
#pragma warning disable CS8602
	public CebToast? toast { get; set; }
	public CebSolutions? Solutions { get; set; }
	public static IEnumerable<int> ListePlaques = CebPlaque.AnyPlaques.Select(p => p);
	protected override async Task OnInitializedAsync() {
		await base.OnInitializedAsync();
		tirage.PropertyChanged += async (_, args) => {
			if (!Auto || args.PropertyName != "Clear" || tirage.Status == CebStatus.EnCours) return;
			await ResolveAsync();
			await InvokeAsync(StateHasChanged);
		};
		Auto = setting.AutoCalcul;
		MongoDb = setting.MongoDb;
	}

	async Task ResolveAsync() {
		await tirage.ResolveAsync();
		// await InvokeAsync(StateHasChanged);
		if (tirage.Status is CebStatus.CompteEstBon or CebStatus.CompteApproche) {
			if (MongoDb)
				await SaveMongoDb();
			await toast.ShowAsync(0);
		}
	}

	private async Task ShowSolutionAsync(int index) {
		await toast.ShowAsync(index);
	}

	private async Task ExportExcelAsync() {
		await using var mstream = new MemoryStream();
		tirage.ExportExcel(mstream);
		await js.SaveAsAsync("ceb.xlsx", mstream.ToArray());
	}

	private async Task ExportWordAsync() {
		await using var mstream = new MemoryStream();
		tirage.ExportWord(mstream);
		await js.SaveAsAsync("ceb.docx", mstream.ToArray());
	}

	private async Task SaveMongoDb() {
		try {
			ConventionRegistry.Register("EnumStringConvention",
				new ConventionPack {
					new EnumRepresentationConvention(BsonType.String)
																							},
				_ => true);
			var clientSettings = MongoClientSettings.FromConnectionString(setting.MongoDbConnectionString);
			clientSettings.LinqProvider = LinqProvider.V3;

			var cl = new MongoClient(clientSettings)
				.GetDatabase("ceb")
				.GetCollection<BsonDocument>("comptes");

			await cl.InsertOneAsync(
				new BsonDocument(new Dictionary<string, object> {
					{ "_id", new { lang = "blazor", domain = Environment.GetEnvironmentVariable("USERDOMAIN"), date = DateTime.UtcNow }.ToBsonDocument() }
																							})
					.AddRange(tirage.Data.ToBsonDocument()));
		} catch (Exception e) {
			Console.WriteLine(e);
		}
	}

}
