@using CompteEstBon
@using System.Collections.ObjectModel

    <RadzenGrid Data="Details" Style="height: 400px"     
        Class="solutions border border-secondary"
        TItem="CebDetail" EmptyText="">
        <Columns>
            @if (TypeGrille == CebTypeGrille.Grille)
            {
                <RadzenGridColumn TItem="CebDetail" Property="Op1" Title="Opération 1"></RadzenGridColumn>
                <RadzenGridColumn TItem="CebDetail" Property="Op2" Title="Opération 2"></RadzenGridColumn>
                <RadzenGridColumn TItem="CebDetail" Property="Op3" Title="Opération 3"></RadzenGridColumn>
                <RadzenGridColumn TItem="CebDetail" Property="Op4" Title="Opération 4"></RadzenGridColumn>
                <RadzenGridColumn TItem="CebDetail" Property="Op5" Title="Opération 5"></RadzenGridColumn>
            }
            else
            {
                <RadzenGridColumn TItem="CebDetail" Property="Op3" Title="Opérations">
                    <Template Context="data">
                            <div>@data.Op1</div>
                            <div>@data.Op2</div>
                            <div>@data.Op3</div>
                            <div>@data.Op4</div>
                            <div>@data.Op5</div>
                    
                    </Template>
                </RadzenGridColumn>
            }

        </Columns>
    </RadzenGrid>


@code {
    private CebTypeGrille _typegrille;
    [Parameter]
    public CebTypeGrille TypeGrille {
        get => _typegrille;
        set {
            if (_typegrille != value) {
                _typegrille = value;
                InvokeAsync(StateHasChanged);
            }
        }
    }

    public IEnumerable<CebDetail> Details { get; set; }

    public async Task SetDataAsync(CebData data) {
        await InvokeAsync(() => {
            Details = data.Solutions;
            StateHasChanged();
        });
    }
    public async Task ClearAsync() {
        await InvokeAsync(() => {
            Details = new List<CebDetail>();
            StateHasChanged();
        });
    }
    protected override void OnInitialized() {

        Details = new List<CebDetail>();
    }

}
