@using CompteEstBon
@using System.Collections.ObjectModel

<TelerikGrid Data="Details"
             Height="360px"
             SelectionMode="Telerik.Blazor.GridSelectionMode.Single"
             Class="solutions border border-secondary"
             SelectedItemsChanged="@(async (liste)=> await ShowDetail.InvokeAsync(liste.FirstOrDefault()))"
             TItem="CebBase">

    <GridColumns>
        @if (TypeGrille == CebTypeGrille.Grille) {
            <GridColumn Field="Op1" ></GridColumn>
            <GridColumn Field="Op2"></GridColumn>
            <GridColumn Field="Op3"></GridColumn>
            <GridColumn Field="Op4"></GridColumn>
            <GridColumn Field="Op5"></GridColumn>
        } else {
            <GridColumn>
                <Template>
                    @{
                        var row = context as CebBase;
                        <div>@row.Op1</div>
                        <div>@row.Op2</div>
                        <div>@row.Op3</div>
                        <div>@row.Op4</div>
                        <div>@row.Op5</div>
                    }
                </Template>
            </GridColumn>
                        }

    </GridColumns>
</TelerikGrid>


@code {
    // private IEnumerable<CebBase> CebBases;
    private CebTypeGrille _typegrille;
    [Parameter]
    public CebTypeGrille TypeGrille {
        get => _typegrille;
        set {
            if (_typegrille != value) {
                _typegrille = value;
                InvokeAsync(StateHasChanged);
            }
        }
    }

    [Parameter] public EventCallback<CebBase> ShowDetail { get; set; }
    [Parameter] public IEnumerable<CebBase> Details { get; set; }
     

    protected override void OnInitialized() {

    }
}
